@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: calc(100vh + 3600px);
	width: 100%;
	margin: 0;
	padding: 0;
}

.highlight1 {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #90caf9 65%);
	display: inline;
}

.highlight2 {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #658dae 65%);
	display: inline;
}

.highlight3 {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #3a5164 65%);
	display: inline;
}

/* project deck desktop */
.deck {
	position: absolute;
	width: 100%;
	height: 100%;
	will-change: transform;
	display: flex;
	align-items: center;
	justify-content: center;
	touch-action: none;
}

.deck > div {
	background-color: white;
	will-change: transform;
	border-radius: 10px;
	box-shadow: 0 12.5px 50px -10px rgba(50, 50, 73, 0.4);
	@apply lg:w-[52%] lg:h-[80%] w-[72%] h-[72%];
}

.cardImage {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

/* project deck mobile */

.deck-mobile {
	position: absolute;
	width: 100%;
	height: 77%;
	will-change: transform;
	display: flex;
	align-items: center;
	justify-content: center;
	touch-action: none;
}

.deck-mobile > div {
	background-color: white;
	will-change: transform;
	border-radius: 10px;
	box-shadow: 0 12.5px 50px -10px rgba(50, 50, 73, 0.4);
	@apply sm:w-[40%] xs:w-[60%] h-[85%] w-[70%];
}

/* tools color */
.HTML {
	color: #e34f26;
}

.CSS {
	color: #002561;
}

.JavaScript {
	color: #f7df1e;
}

.NodeJs {
	color: #6cc24a;
}

.React {
	color: #00d8ff;
}

.GitHub {
	color: #6e5494;
}

.MongoDB {
	color: #589636;
}

.Bootstrap {
	color: #511378;
}

.Sass {
	color: #cc6699;
}

.PHP {
	color: #8892be;
}

.Android {
	color: #a4c639;
}

.NextJs,
.Zustand {
	color: #333;
}

.Sanity {
	color: #e43b2d;
}

/* swiper image cube */
.swiper {
	/* @apply xl:h-[50vh] xl:w-[80vh] lg:h-[40vh] lg:w-[60vh] md:h-[30vh] md:w-[50vh] h-[25vh] w-[40vh]; */
	width: 100%;
	height: auto;
	position: absolute;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
}

.swiper-slide img {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
